@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&family=Playwrite+ES+Deco:wght@100..400&display=swap');
* {
    font-family: 'Didact Gothic';
}
    h1{
    font-size: 40px;
    font-family: 'Kumar One Outline';
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;

    animation: pulsate 2s infinite alternate;
    padding: 0.4em;
        }

@keyframes pulsate {
    100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #bc13fe,
      0 0 80px #bc13fe,
      0 0 90px #bc13fe,
      0 0 100px #bc13fe,
      0 0 150px #bc13fe;
      }
    0% {

    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #bc13fe,
    0 0 45px #bc13fe,
    0 0 55px #bc13fe,
    0 0 70px #bc13fe,
    0 0 80px #bc13fe;
    }
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .product {
    border-radius: 30px;
        display: flex;
        height: 250px;
        margin-top: 20px;
    background-color: #3c3d40;
    padding: 10px;
    width: 90%;
    overflow-wrap: anywhere
    }
    .product_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    h2 {
        width: 300px;
    }

    .text {
        margin-left: 20px;
        min-width: 30%;
        max-height: 100%;
    }
    .filter {
        display: flex;
        flex-direction: string;
        align-items: center;
        margin-left: auto;
        margin-right-auto;
        border: none;

    }
	body {
   	   background: #2b2d30;
	   color: #fff;
    }
    a {
        text-decoration: none;
        font-size: 20px;
        text-color: white;
        margin-left: 35px;
        color: white;
        }

    .navigation {
        display: flex;
        flex-display: row;
        align-items: center;
        justify-content: center;
        align-items: center;
    }
    button {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: white;
    }
.filter {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: #3c3d40;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    font-size: 20px;
    border: none;
    background-color: white;
    padding: 11px;
    border-radius: 10px;
    width: 100%;
    margin-right: 10px;
}
a {
    color: black;
    text-decoration: none;
}

.navlink {
    margin-left: 20px;
    text-decoration: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

button {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.price {
    margin-left: auto;
    text-align: center;
}

.productDetails {
    margin-top: 20px;

    border-radius: 20px;

    background: white;
    display: flex;
    flex-direction: row;

    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.productPrice {
    display: flex;
    flex-direction: row;
}

.productTitle {
    margin-top: 20px;
}

.productTitle * {
    font-style: normal;
    margin-bottom: 20px;
}

.productDescription {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 20px;
    background: white;

    width: 70%;
    margin-left: auto;
    margin-right: auto;
}




.productDescription * {
    margin: 20px;
}

.filter {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    font-size: 20px;
    border: none;
    background-color: #efefef;
    padding: 11px;
    border-radius: 10px;
    width: 100%;
    margin-right: 10px;
}

.review {
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
}

.createReview {
    display: flex;
    flex-direction: column;
}

.createReview * {
    margin: 0 !important;
    padding: 0 !important;

    font-size: 20px;
    border: none;
    padding: 11px;
    border-radius: 10px;
}

.createReview input {
    background-color: #e0e0e0;
    padding: 5px !important;
}

.createReview select {
    background-color: #e0e0e0;
    padding: 5px !important;
}


.createReview textarea {
    background-color: #e0e0e0;
}

.createReview button {
    width: fit-content;
    margin-top: 10px !important;
    margin-left: auto !important;
    padding: 10px !important;
}


.paymentCard {
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;

    border-radius: 20px;
    background: white;

    padding: 10px;
}

.vspace {
    height: 10px;
}

.paymentButton {
    width: 100%;
}

.paymentForm {
    display: flex;
    flex-direction: column;
}

.paymentForm input {
    background-color: #e0e0e0;
    padding: 5px !important;

    font-size: 20px;
    border: none;
    padding: 11px;
    border-radius: 10px;
}