{% load static %}
<link rel = "stylesheet" href = "{% static 'style.css' %}">
<h1>E-Shop</h1>
<div class="navigation">
<a href="/">Главная</a>
<a href="/products">Товары</a>
<a href="/aboutus">О нас</a>
</div>
<div class = "product">
    <img src="https://ic.pics.livejournal.com/rebrik/845681/220170/220170_original.png"/>
    <div class="text">
    <h2>Телефон</h2>
    <p>Информация – ключ ко всему. Вы должны узнать сильные стороны ваших врагов и понять, кто из друзей вам вовсе не друг. Джейсон Стэтхэм</p>
    <button>КУПИТЬ</button>
    </div>
</div>

<div class = "product">
    <img src="https://avatars.dzeninfra.ru/get-zen_doc/168601/pub_62f5fda28879873a6b93e8c0_62f6966e4691e63c8b4b892c/scale_1200"/>
    <div class="text">
    <h2>Компьютер</h2>
    <p> Говорят, компьютер - удобная штука</p>
    <button>КУПИТЬ</button>
    </div>
</div>
